.cta{
    background:var(--clr-bg-dark);
    padding:9.6rem 0;
    &__block{
        background:var(--clr-primary);
        border-radius:.5rem;
        padding:3rem 2rem; 
        text-align: center;  
        margin:0 auto;
        // max-width:40rem;
        margin-top:-17rem;
        @include device(big__tab){
            display:flex;
            justify-content: space-between;
            align-items: center;
            // max-width:auto;
        }


    }
    &__text{
        font-size:2.4rem;
        font-weight:500;
        margin-bottom:2rem;
         
        @include device(big__tab){
            font-size:2.4rem;
            flex:0 0 calc(70% - 1rem);
        }
    }

    &__btn{
        background:var(--clr-bg-dark);
        padding:1rem 2rem;
        border-radius: .5rem;
        color:var(--clr-white);
        font-size:1.4rem;
        @include device(big__tab){
            font-size:1.2rem;
        }

    }

     
}