.heading__primary{
    font-weight:500; 
    font-size:4rem;
    line-height:1.3;
    text-transform:capitlaize;
     
    
    @include device(tab){
        font-size: 4.8rem;
        max-width:50rem;
    }
}

.heading__secondary{
    font-size:2.8rem;
    font-weight:400;
    text-transform: capitalize;
    margin:2rem 0 1rem 0;
  
    @include device(tab){
        font-size:2.4rem;
    }
}


.heading__title{
    color:var(--clr-grey-1);
    text-align: center;
    font-size:2.8rem;
    letter-spacing:var(--spacing);
    margin-bottom: 6.4rem;
    // max-width:5rem;
   
};

.heading__tetiary{
    font-size:2.4rem;
    letter-spacing:var(--spacing);
    margin-bottom:2.4rem;
    
}
 .title{
    font-size:2.8rem;
    font-weight:500;
    max-width:30rem;

 }