.footer{
    background: var(--clr-bg-dark);
    &__block{
        @include device(tab){
            display: flex;
            align-items: start;
            justify-content: space-between;
            // gap:4rem;

        }
    }
    &__col{
        @include device(tab){
            flex:0 0 calc(33.333% - 1rem);
            
        }
     
    }
    &__col:not(:last-child){
        margin-bottom:3rem;
    }
    &__box{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        gap:2rem ;
        
    }
    &_link{
        
        flex:0 0 calc(40% - 1rem);
        @include device(tab){
            flex:0 0 100%;
             
            
        }

    }

    &__img{
        margin-bottom:3rem;
        @include device(tab){
            margin-right:6.4rem;
        }
    }
    &__subheading{
        margin-bottom:1.2rem;
        max-width: 50rem;
        
    }
    &__subheading .green{
        font-weight: 400;
        font-size:2.5rem;
        @include device(tab){
            
            font-size:2rem;
        }
         

    }
}
