
.header__block{

    width:90vw;
    max-width: 120rem;
    margin:0 auto;
     
}

.hero{
    padding:5.2rem 0;
    @include device(big__tab){
        display:flex;
        align-items: start;
        justify-content: space-between;
    }

    &__block{
        order:-1;
    }
    &__imgblock{
        display:flex;
        align-items: center;
        flex-direction: column;
        
         
    }
    
    &__imgback--1{
        max-width:25rem; 
        flex:1 1 calc(25% - 1rem);  
        @include device(tab){
            
        } 
    }
    &__imgback--2{
        width:8rem;
        margin-left:3rem;
    }
    &__img{
        width:23rem;
        position:absolute;
        top: -6.2rem;
        left:1.8rem;
        
    }
    &__arr{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-10%,-50%);
        width:4rem;
        
        
    }

    &__imgbox{
        flex:0 0 calc(50%);
        @include device(big__tab){
            flex:0 0 calc(30%);
            
        }
    }
     &__imgbox--2{
         display:none;
         flex:0 0 calc(30%);
        @include device(big__tab){
            display:block;
        }
    }
    &__img2,&__img1{
        width:70%;
        margin-left:2rem;
        @include device(desktop){
            
        }
    }

    &__block{
        
        flex:0 0 calc(60% - 1rem);  
    }
    &__article{
        line-height:var(--ln);
        font-weight:200;
        opacity:(0.8);
        margin:2rem 0 1rem 0;
        max-width:45rem;
       
        
        @include device(tab){
            line-height:var(--ln-bg);
            font-size:1.4rem;
            
             
        }
    }
    &__banner{
        position: relative;
    }
    &__span{
        
        width:10rem;
        
         
    }
    &__spanimg{
        position:absolute;
        bottom:0rem;
        left:-1rem;
        height:6rem;
        z-index:-1;
       
    }

    &__subheading{
        font-size:1.8rem;
        margin-bottom:2rem;
        @include device(tab){
            font-size:1.5rem;
            opacity:0.8 ;
             
        }
    }
    &__btnbox{
        
        width:auto;
    }

    &__btn{
        padding:1.6rem 3rem;
        background:var(--clr-primary);
        color:var(--clr-white);
        border-radius:.5rem;
        text-align:center;
        font-size:1.6rem;
        transition: .5s all;

        &:hover,&:active{
            background: var(--clr-primary-dark);
            transform:translateY(1rem);
            box-shadow: var(--dark-shadow);
        }
         
    }
   



}
